@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url("img/bg.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.result {
    background-color: white;
    font-size: large;
    width: 60%;
    margin-top: 10%;
    padding: 100px;
    text-transform: uppercase;
}

.navbar,
.navbar-brand {
    font-size: 20px;
}

.nav-link {
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    border-radius: 0px;
    margin-right: 20px;
    margin-top: 20px;
}

.container{
    margin-top: 5%;
}